body{background-color: black; color:orange; font-family:red serif;margin: 40px40px40px40px;}
p{color:lime;font-size:88px;}
h2{color:lime;font-size:56px;}
h3{color: lime;font-size:48px;}
#img{height: auto;vertical-align: middle;}
